/*Universal Style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section {
    padding: 100px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.btn{
    position: relative;
    background-color: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.w50 {
    min-width: 50%;
}
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.contact {
    background: #f7f7f7;
}


/*Header styling*/
header.sticky {
    background: black;
    padding: 40px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo {
    color: white;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: black;
    text-decoration: none;
}
header.sticky ul li a {
    color: white;
}
header ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
header ul li a:hover::after {
    width: 100%;
}

/*hamburger menu*/
.navbar{
    min-height:70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger{
    display: none;
    cursor: pointer;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/*Front page styling*/
.front-page-container  {
    position: relative;
    min-height: 100vh;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.front-page-container h2 {
    font-size: 3em;
    color: #2196f3;
    font-weight: 500;
    line-height: 1.5em;
}
.front-page-container h2 span {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    text-decoration: underline;
}
.front-page-container h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}

/*About me page styling*/
.about-me-container {
    background-color: #f7f7f7;
}
.about-me-container .about-me-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-me-container .about-me-content .about-me-box {
    max-width: calc(50% - 40px);
}
.about-me-container .about-me-content .about-me-box img {
    width: 50%;
}
.about-me-box ul li {
    list-style: none;
}
.about-me-box ul li a {
    text-decoration: none;
    color: red;
}
.about-me-box i {
    font-size: 2.5em;
    letter-spacing: 5px;
}
.about-me-container .heading p span {
    color: red;
}
/*Work section styling*/
.work-container .work-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work-container .work-content .work-box {
    width: 25%;
    padding: 20px;
}
.work-container .work-content .work-box img {
    width: 100%;
}
.work-container .work-content .work-box img:hover {
    opacity: 0.5;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


/*Contact styling*/
.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info-box .icon {
    margin-bottom: 10px;
    align-items: left;
}
.contact-info-box .icon a {
    text-decoration: none;
    color: black;
}

/*Contact btn*/
.contact-content .btn-primary {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid #2196f3;
}
.contact-content .btn-primary:focus {
    box-shadow: none !important;
}
.contact-content .btn-primary:hover {
    border: 2px solid black !important;
    background: yellow !important;
    transition: 0.3s;
    color: black;
}


/*Contact form styling*/
.form-box {
    min-width: 60%;
}
.form-box form {
    display: flex;
    flex-direction: column;
}
.form-box form h3,
.contact-info h3 {
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.form-box form input,
.form-box form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.form-box form textarea {
    min-height: 200px;
}
.form-box form input::placeholder,
.form-box form textarea::placeholder{
    color: #999;
}
.form-box form input[type="submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Footer styling */
.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*Responsive styles
@media screen and (max-width: 1920px), screen and (max-height: 1080px){
    header .logo{
        font-size: 46px;
    }
    header {
        font-size: 24px;
    }
    .front-page-container .text-box {
        font-size: 24px;
    }
}
@media screen and (max-width: 1440px), screen and (max-height: 900px){
    header .logo{
        font-size: 26px;
    }
    header {
        font-size: 20px;
    }
    .front-page-container .text-box {
        font-size: 14px;
    }
}
@media screen and (max-width: 1366px), screen and (max-height: 768px){
    header .logo{
        font-size: 22px;
    }
    header {
        font-size: 16px;
    }
    .front-page-container .text-box {
        font-size: 14px;
    }
}
@media screen and (max-width: 720px), screen and (max-height: 1280px){
    header .logo{
        font-size: 22px;
    }
    header {
        font-size: 16px;
    }
    .front-page-container .text-box {
        font-size: 14px;
    }
}
@media screen and (max-width: 375px), screen and (max-height: 667px){
    body {
        width: 121%;
    }
    header .logo{
        font-size: 10px;
    }
    header {
        font-size: 10px;
    }
    .front-page-container .text-box {
        font-size: 10px;
    }
    .about-me-container .about-me-content .about-me-box{
        font-size: 10px;
    }
    .work-container .work-content {
        display: grid;
    }
    .work-container .work-content .work-box img {
        width: 600%;
        display: flex;
    }
    .work-container .work-content .work-box a {
        display: column;
    }
    .about-me-container .about-me-content .about-me-box img {
        width: 200%;
    }
}
@media screen and (max-width: 414px), screen and (max-height: 896px){
    body {
        width: 121%;
    }
    header .logo{
        font-size: 10px;
    }
    header {
        font-size: 10px;
    }
    .front-page-container .text-box {
        font-size: 10px;
    }
    .about-me-container .about-me-content .about-me-box{
        font-size: 10px;
    }
    .work-container .work-content {
        display: grid;
    }
    .work-container .work-content .work-box img {
        width: 600%;
        display: flex;
    }
    .work-container .work-content .work-box a {
        display: column;
    }
    .about-me-container .about-me-content .about-me-box img {
        width: 130%;
    }
}
@media screen and (max-width: 360px), screen and (max-height: 640px){
    .about-me-container .about-me-content .about-me-box{
        display: block;
        margin: 10px;
    }
    .about-me-container .about-me-content .about-me-box img {
        display: none;
    }
}
@media screen and (max-width: 820px), screen and (max-height: 1180px){
    header .logo{
        font-size: 12px;
    }
    header ul li{
        font-size: 12px;
        right: 300px;
    }
    .front-page-container .text-box {
        font-size: 14px;
    }
    .heading {
        font-size: 16px;
        width: 60%;
    }
    .work-container .work-content{
        display: grid;
        width: 150%;
    }
}
@media screen and (max-width: 768px), screen and (max-height: 1024px){
    .front-page-container .text-box {
        font-size: 10px;
    }
}
@media screen and (max-width: 912px), screen and (max-height: 1368px){
    /*left to do Surface Pro 7
}
@media screen and (max-width: 540px), screen and (max-height: 720px){
    /*left to do Surface Duo
}
@media screen and (max-width: 280px), screen and (max-height: 653px){
    /*left to do Galaxy Fold
}
@media screen and (max-width: 412px), screen and (max-height: 914px){
    /*left to do Galaxy A51/71
}
@media screen and (max-width: 1024px), screen and (max-height: 600px){
    /*left to do Nest hub
}
@media screen and (max-width: 1280px), screen and (max-height: 800px){
    /*left to do Nest hub
}*/