/*Universal Style*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
section {
    padding: 100px;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}
.btn{
    position: relative;
    background-color: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}
.w50 {
    min-width: 50%;
}
.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}
.contact {
    background: #f7f7f7;
}


/*Header styling*/
header.sticky {
    background: black;
    padding: 40px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
header .logo {
    color: black;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}
header.sticky .logo {
    color: white;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    position: relative;
    list-style: none;
}
header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: black;
    text-decoration: none;
}
header.sticky ul li a {
    color: white;
}
header ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: yellow;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
header ul li a:hover::after {
    width: 100%;
}

/*Front page styling*/
.front-page-container  {
    position: relative;
    min-height: 100vh;
    background-image: url(/assets/images/background.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.front-page-container h2 {
    font-size: 3em;
    color: #2196f3;
    font-weight: 500;
    line-height: 1.5em;
}
.front-page-container h2 span {
    font-size: 1.5em;
    font-weight: 700;
    color: white;
    text-decoration: underline;
}
.front-page-container h3 {
    font-size: 1.5em;
    color: white;
    font-weight: 500;
}

/*About me page styling*/
.about-me-container {
    background-color: #f7f7f7;
}
.about-me-container .about-me-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-me-container .about-me-content .about-me-box {
    max-width: calc(50% - 40px);
}
.about-me-container .about-me-content .about-me-box img {
    width: 50%;
}
.about-me-box ul li {
    list-style: none;
}
.about-me-box ul li a {
    text-decoration: none;
    color: red;
}
.about-me-box i {
    font-size: 2.5em;
    letter-spacing: 5px;
}
.about-me-container .heading p span {
    color: red;
}
/*Work section styling*/
.work-container .work-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.work-container .work-content .work-box {
    width: 25%;
    padding: 20px;
}
.work-container .work-content .work-box img {
    max-width: 100%;
}
.work-container .work-content .work-box img:hover {
    opacity: 0.5;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}


/*Contact styling*/
.contact-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-info-box .icon {
    margin-bottom: 10px;
    align-items: left;
}
.contact-info-box .icon a {
    text-decoration: none;
    color: black;
}

/*Contact btn*/
.contact-content .btn-primary {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    border-radius: 15px;
    border: 2px solid #2196f3;
}
.contact-content .btn-primary:focus {
    box-shadow: none !important;
}
.contact-content .btn-primary:hover {
    border: 2px solid black !important;
    background: yellow !important;
    transition: 0.3s;
    color: black;
}


/*Contact form styling*/
.form-box {
    min-width: 60%;
}
.form-box form {
    display: flex;
    flex-direction: column;
}
.form-box form h3,
.contact-info h3 {
    color: black;
    font-size: 20px;
    font-weight: 500;
}
.form-box form input,
.form-box form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #222;
    color: #fff;
    resize: none;
}
.form-box form textarea {
    min-height: 200px;
}
.form-box form input::placeholder,
.form-box form textarea::placeholder{
    color: #999;
}
.form-box form input[type="submit"]{
    max-width: 100px;
    background: #2196f3;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/*Footer styling */
.footer {
    background: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/*Responsive styles*/
@media screen and (max-width: 1200px){
    
    header{
        width: 100%;
    }
    .about-me-container {
        width: 100%;
    }
    .work-container {
        width: 100%;
    }
    .contact {
        width: 100%;
    }
    .footer {
        width: 100%;
    }
}
@media screen and (max-width: 950px){
    .contact-info {
        width: 35%;
    }
    .form-box{
        width: 25%;
    }
}
@media screen and (max-width: 640px) {
    header a{
        width: 25px;
    }
    .about-me-content .about-me-box{
        width: 100%;
        display: column;
        display: inline-block;
    }
    .about-me-content .about-me-box img {
        display: inline-block;
    }
}